body, html {
  padding: 0;
  margin: 0;
  /* background: url(../img/logo_bg.jpg); */
  background-color: rgb(241, 235, 235);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#topmenu {
  background-color: white;
  height: 100px;
  width: 100%;
}

.adress-box {}

.menu {
  position: absolute;
  top: 20px;
  right: 0;
  line-height: 100px;
}

.el-button {
  font-size: 25px;
}

.el-button--text {
  padding-left: 30px;
}

.el-submenu__title i {
  color: #000;
  font-weight: 700;
}

.bgimg {
  display: flex;
  width: 1920px;
  height: 800px;
  z-index: -1;
  background: url(../img/logo_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.logo-img {
  position: absolute;
  top: 10px;
  font-size: 45px;
  font-weight: bold;
  left: 20%;
  line-height: 100px;
  margin-left: 10px;
}

.help {
  position: absolute;
  top: -20px;
  right: -57%;
  line-height: 100px;
}

span {
  color: black;
}

.iconfont {
  font-size: 25px;
}

span:hover {
  color: rgb(118, 118, 252);
}

.loginbox {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 500px;
  height: 500px;
  top: 28%;
  left: 35%;
  background-color: #ffff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.registbox {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 500px;
  height: 700px;
  top: 20%;
  left: 35%;
  background-color: #ffff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.el-form-item__label {
  margin-top: 5px;
  padding-right: 50px;
  font-size: 30px;
}

.el-input__inner {
  height: 50px;
}

.el-form-item {
  margin-bottom: 45px;
}

.food-search {
  position: relative;
  line-height: 100px;
  width: 1100px;
  text-align: center;
  justify-content: center;
}

.el-menu-item {
  font-size: 23px;
  border-radius: 10px;
}

.el-menu-item:focus, .el-menu-item:hover {
  outline: 0;
  background-color: #ebd142;
}

.food-title:hover {
  color: black;
}

.el-button--primary {
  width: 200px;
  height: 50px;
  position: relative;
  right: -15px;
  margin-right: 40px;
}

.el-button--success {
  width: 74px;
  height: 50px;
  position: relative;
  left: -20px;
}

.el-form-item__label {
  font-weight: 700;
}

.el-input {
  width: 80%;
}

.header-mainpart {
  width: 1190px;
  position: relative;
}

.buycar {
  position: fixed;
  bottom: 0;
  height: 120px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, .09);
}

.buycar .cart-panel {
  height: 85px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.mainPart {
  width: 990px;
}

.buycar .cart-panel-overview {
  height: 85px;
  line-height: 85px;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.mainPart {
  min-width: 990px;
  max-width: 1190px;
  margin: 0 auto;
}

.container-box {
  position: absolute;
  display: flex;
  background-color: rgb(241, 235, 235);
  min-width: 1899px;
  /* margin-top: 100px;s */
  min-height: 800px;
}

.el-menu-vertical-demo {
  position: absolute;
  width: 200px;
  left: 25px;
  /* border: 1px solid black; */
}

.titlebox {
  position: absolute;
  width: 250px;
  height: 90px;
  background-color: white;
  left: 175px;
  top: 30px;
  border-radius: 10px 10px 0 0;
}

.titlebox label {
  font-size: 35px;
  line-height: 100px;
  margin-left: 20px;
}

.titlelist {
  position: absolute;
  top: 120px;
  left: 175px;
  width: 250px;
  height: 400px;
  background-color: white;
}

.el-menu {
  border-right: solid 1px #ffffff;
}

.msg-box {
  display: inline-block;
  position: absolute;
  width: 250px;
  height: 400px;
  top: 520px;
  left: 175px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
}

.adress-box {
  margin-top: 10px;
  padding: 10px;
}

.el-input-group__append, .el-input-group__prepend {
  color: #000;
}

.goods-right {
  display: flex;
  position: absolute;
  left: 490px;
  top: 30px;
  width: 1309px;
  min-height: 700px;
  background-color: white;
  border-radius: 10px;
}

.timebox {
  margin-top: 40px;
}

.userbox {
  position: absolute;
  font-size: 35px;
  margin-top: 30px;
  width: 250px;
  min-height: 90px;
  background-color: white;
  left: 175px;
  top: 30px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.foodBox {
  background-color: rgb(241, 235, 235);
  margin: 40px;
  height: 200px;
  width: 350px;
  border-radius: 5px;
}

.el-icon-circle-plus {
  color: coral;
  position: absolute;
  font-size: 45px;
  top: 180px;
  left: 340px;
}